{% extends "main/base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
    <script type="text/javascript" src="http://echarts.baidu.com/dist/echarts.js"></script>
{% endblock %}

{% block body %}
<div id="main" style="width: 900px; height: 470px;"></div>
{% endblock %}

{% block script %}
<script>
var a = echarts;
var myChart = a.init(document.getElementById('main'));

// Display title, legend, and empty coordinate axes
myChart.setOption({
    title: {
        text: 'Summary of Borrowing and Returning (Last 10 Days)'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data: ['Today\'s Data']
    },
    toolbox: {
        show: true,
        feature: {
            mark: { show: true },
            dataView: { show: true, readOnly: false },
            magicType: { show: true, type: ['line', 'bar'] }
            // restore: {show: true},
            // saveAsImage: {show: true}
        }
    },
    calculable: true,

    xAxis: [
        {
            type: 'category',
            boundaryGap: false,
            data: []
        }
    ],
    yAxis: [
        {
            type: 'value',
            axisLabel: {
                formatter: '{value}'
            }
        }
    ],
    series: [
        {
            name: 'Highest Count',
            type: 'line',
            data: [],
            markPoint: {
                data: [
                    { type: 'max', name: 'Maximum' },
                    { type: 'min', name: 'Minimum' }
                ]
            },
            markLine: {
                data: [
                    { type: 'average', name: 'Average' }
                ]
            }
        }
    ]
});

myChart.showLoading(); // Show loading animation before data loads

var names = []; // Array for X-axis values (dates)
var nums = [];  // Array for Y-axis values (borrow/return counts)

$.ajax({
    type: "get",
    // async: true,  // optional asynchronous setting
    url: "{{ url_for('main.echarts') }}",  // Flask endpoint to get data
    dataType: "json",
    success: function(data) {
        if (data) {
            for (var i = 0; i < data.length; i++) {
                names.push(data[i]["name"]);  // extract date name
                nums.push(data[i]["num"]);    // extract borrow count
            }
            myChart.hideLoading();  // hide loading animation
            myChart.setOption({     // load data into chart
                xAxis: {
                    data: names
                },
                series: [{
                    name: 'Count',
                    data: nums
                }]
            });
        }
    },
    error: function(errorMsg) {
        alert("Failed to load chart data!");
        myChart.hideLoading();
    }
});
</script>
{% endblock %}
